.page, #form, .misc, .versionSelect, .versionCard {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page, #form, .misc, .versionCard {
	flex-direction: column;
}

.snaplockeLogo {
	width: 100%;
}

#introModalButton {
	box-shadow: 0 0 5px 2.5px black;
}

#modalBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border: 2px solid #000;
	width: 50%;
	height: 500px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#thanos {
	max-width: 50%;
	box-shadow: 0 0 5px 2.5px black;
}

.modalCloseButton {
	position: absolute !important;
	right: 3%;
}

.versionSelect {
	flex-direction: row;
	flex-wrap: wrap;
	background-image: linear-gradient(whitesmoke, lightblue);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 0 5px 2.5px black;
}

.versionCard {
	filter: grayscale(1);
	background-color: black;
	color: white;
	padding: 2px;
	margin: 2px;
}

.versionCard:hover {
	animation: toColor 0.25s forwards
}

.versionCard:active {
	transform: scale(1.05) !important;
}

.versionImage {
	max-width: 96px;
}

#form {
	width: 80%;
	margin: 20px 0;
}

.misc {
	background-image: linear-gradient(whitesmoke, lightblue);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 0 5px 2.5px black;
	margin: 20px;
}

.starterDropdown {
	background-color: whitesmoke !important;
}

.generateButton {
	margin-top: 10px !important;
	height: 100px;
	width: 100px;
	box-shadow: 0 0 5px 2.5px black !important;
}