.results, #snapButton, #cardArea {
	display: flex;
	justify-content: center;
	align-items: center;
}

.results, #snapButton {
	flex-direction: column;
}

#snapButton {
	width: min-content;
	margin-bottom: 40px;
	box-shadow: 0 0 5px 2.5px black;
}

#gauntlet {
	max-width: 192px;
}

#detailGroup {
	margin-bottom: -5px;
	z-index: 0;
}

#detailGroup button {
	font-size: 12pt !important;
	border: solid black 2px;
	border-radius: 0 10px 0 0 !important;
}

#detailGroup button:first-child {
	border-radius: 10px 0 0 0 !important;
}

#cardArea {
	 width: 80%;
	 max-width: 2000px;
	 flex-wrap: wrap;
	 flex-direction: row;
	 z-index: 1;
	 margin-bottom: 40px;
}

@media (max-width: 1870px) {

}

@media (max-width: 1220px) {
	#gauntlet {
		max-width: 145px;
	}
}

@media (max-width: 900px) {
	#gauntlet {
		max-width: 145px;
	}
	#cardArea {
		width: 90%;
	}
}

@media (max-width: 700px) {
	#gauntlet {
		max-width: 100px;
	}
	#cardArea {
		width: 95%;
	}
}

@media (max-width: 480px) {

}

@media (max-width: 420px) {
	#gauntlet {
		max-width: 80px;
	}
	#snapButtonText {
		margin-bottom: 2px;
	}
}