.error {
	color: red;
	text-decoration: underline;
	font-weight: bold;
}

.versionCard {
	filter: grayscale(1);
	background-color: black;
	color: white;
	padding: 2px;
}

.versionCard:hover {
	animation: toColor 0.25s forwards
}

.versionCard:active {
	transform: scale(1.05) !important;
}

.misc {
	display: flex;
	flex-direction: column;
}